/* Boilerplate */
body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h1 {
	text-align: center;
}
/* Helpers */

.font-mono {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}

.margin-t-50 {
	margin-top: 50px;
}

.margin-t-20 {
	margin-top: 20px;
}

.margin-b-50 {
	margin-bottom: 50px;
}

.margin-b-0 {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.font-light {
	font-weight: 300;
	font-size: 1.2rem;
}

.text-highlight {
	color: #65909A;
}


.part_section {
	border: 1px solid #bbb;
	border-radius: 4px;
}

.part_image {
	display: block;
	margin: 0 auto;
}

.part_active {
	background-color: #AAA;
	color: #FFF;
}


/*****************************
  Navbar taken from Skeleton.css navbar 
******************************/
.navbar + .docs-section {
	border-top-width: 0;
}
.navbar,
.navbar-spacer {
	display: block;
	width: 100%;
	height: 6.5rem;
	background: #fff;
	z-index: 99;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.navbar-spacer {
	display: none;
}
.navbar > .container {
	width: 100%;
}
.navbar-list {
	list-style: none;
	margin-bottom: 0;
	margin-left: 1em;
}
.navbar-item {
	position: relative;
	float: left;
	margin-bottom: 0;
}
.navbar-link {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-right: 35px;
	text-decoration: none;
	line-height: 6.5rem;
	color: #222;
}
.navbar-link.active {
	color: #33C3F0;
}
.has-docked-nav .navbar {
	position: fixed;
	top: 0;
	left: 0;
}
.has-docked-nav .navbar-spacer {
	display: block;
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
	width: 80%;
}