	<div class="container">
		<div class="row">
			<h1 class="margin-t-50">Projects</h1>
		</div>
		{{#arr_projects}}
		{{#left}}
		<div class="project">
			<h3 class="margin-t-20 margin-b-0">{{title}} - {{studio}}</h3>
			<p class="margin-b-20 text-highlight">{{desc}}</p>
			<div class="row section-highlight">
				<div class="one-half column">
					<a href="{{link}}" target="_blank"><img class="display-block" src="{{preview}}" width="100%"/></a>
				</div>
				<div class="one-half column u-float-right">
					<h5 class="font-mono margin-b-0">Highlights</h5>
					<ul class="margin-b-0">
						{{#arr_highlights}}
						<li>{{.}}</li>
						{{/arr_highlights}}
					</ul>
				</div>
			</div>
		</div>
		{{/left}}
		{{^left}}
		<div class="project">
			<h3 class="margin-t-20 margin-b-0">{{title}} - {{studio}}</h3>
			<p class="margin-b-20 text-highlight">{{desc}}</p>
			<div class="row section-highlight">
				<div class="one-half column u-float-right">
					<h5 class="font-mono margin-b-0">Highlights</h5>
					<ul class="margin-b-0">
						{{#arr_highlights}}
						<li>{{.}}</li>
						{{/arr_highlights}}
					</ul>
				</div>
				<div class="one-half column">
					<a href="{{link}}" target="_blank"><img class="display-block" src="{{preview}}" width="100%"/></a>
				</div>
			</div>
		</div>
		{{/left}}
		{{^last}}<hr/>{{/last}}
		{{/arr_projects}}
	</div>