<div class="container">
	<div class="row">
		<div class="twelve columns">
			<h1 class="margin-t-50">Nathaniel Lutz</h1>
		</div>
	</div>
	<div class="row margin-t-20">
		<div class="columns four">
			<img src="assets/headshot.jpg" width="100%"/>
		</div>
		<div class="columns eight">
		<p class="text-justify">
			I'm a game developer and programmer in Canada. I work at a studio in Ontario, and I dabble in my spare time. My background is in Computer Science and Math, and my passion is making things.
		</p>
		<p class="text-justify">
			I've always had an itch to make stuff, so you'll find more than just code on here as I finish or publish the fruits of my labours. I've tinkered with 3D printing, costume making, and carpentry, but I'll use any medium I can figure out in order to bring something to life. 
		</p>
		</div>
	</div>
	<hr/>
	<div class="row margin-t-20">
		<div class="columns eight text-right">
		<p class="text-justify">
			Even before I discovered my passion for programming, I always wanted to get into game development. It's what pushed me to get into programming and it has been a driving force in getting me where I am today.
		</p>
		<p class="text-justify">
			I work on a social game called YoWorld (formerly YoVille) as a lead developer. YoWorld has really allowed me to up my game by providing me the opportunity to lead a team and work on all parts of development that go into a large and ongoing product. I've been part of building toolsets for content and customer service teams, features for players, and processes to help our team do what we do even better.
		</p>
		</div>
		<div class="columns four">
			<a href="resume.html"><img src="assets/desk.jpg" width="100%"/></a><figcaption class="font-light">Photo by Caspar Rubin on Unsplash</figcaption>
		</div>
	</div>
	<hr/>
	<div class="row margin-t-20">
		<div class="columns four">
			<a href="creations.html#necro"><img src="assets/necro/helm.jpg" width="100%"/></a>
		</div>
		<div class="columns eight">
		<p class="text-justify">
			Diablo II was a game that shaped me in a big way. It's safe to say it's the reason I love RPG's. The necromancer always appealed to me both in aesthetics and in gameplay, so when I stumbled across costume making as an interest, there was no question which character I wanted to try for. 
		</p>
		<p class="text-justify">
			The project took around 100 hours in total spread over more than a year. The helmet was by far my favourite piece and made up about 60 of those 100 hours. It also makes for a pretty excellent halloween costume.
		</p>
		</div>
	</div>
</div>
