<div class="container">
	<h1 class="margin-t-50">Nathaniel Lutz</h1>
	
	<h4 class="margin-t-50 margin-b-0">TL;DR</h4>
	<div class="row">
		<p>{{summary}}</p>
	</div>
	
	<h4 class="margin-t-20 margin-b-0">Tech</h4>
	<div class="row">
		<ul>
			{{#arr_tech}}
			<li><strong class="font-mono text-highlight">{{title}}:</strong> {{desc}}</li>
			{{/arr_tech}}
		</ul>
	</div>

	<h4 class="margin-t-20 margin-b-0">Work</h4>
	{{#arr_work}}
		<div class="row">
			<div class="eight columns font-mono text-highlight"><strong>{{title}}</strong></div>
		<div class="four columns font-light text-right">{{duration}}</div>
		</div>
		<div class="row">
			<ul>
			{{#arr_desc}}
				<li>{{desc}}</li>
			{{/arr_desc}}
			</ul>
		</div>
	{{/arr_work}}

	<h4 class="margin-t-20 margin-b-0">Education</h4>
	<div>
		<div class="row">
			<div class="eight columns font-mono text-highlight"><strong>University of Waterloo - Bachelor of Computer Science</strong></div>
			<div class="four columns font-light text-right">Sep 2009 - Apr 2014</div>
		</div>
		<div class="row">
			<ul>
				<li>Honours Computer Science Co-operative Program</li>
				<li>Co-President of the Archery Club</li>
			</ul>
		</div>
	</div>

	<h4 class="margin-t-20 margin-b-0">Community</h4>
	<div class="row">
		<ul>
			{{#arr_community}}
			<li><strong class="font-mono text-highlight">{{title}}:</strong> {{desc}}</li>
			{{/arr_community}}
		</ul>
	</div>

	<h4 class="margin-t-20 margin-b-0">Interests</h4>
	<div class="row">
		<ul>
			{{#arr_interests}}
			<li><strong class="font-mono text-highlight">{{title}}:</strong> {{desc}}</li>
			{{/arr_interests}}
		</ul>
	</div>
</div>