<div class="container">
	<h1>Nathaniel Lutz</h1>
	<img src="assets/headshot.jpg" width="50%" height="50%"/>
	<p>
		I'm a game developer and programmer in Canada. I work at a studio in Ontario, and I dabble in my spare time. My background is in Computer Science and Math, and my passion is making things.
	</p>
	<p>
		I've always had an itch to make stuff, so you'll find more than just code on here as I finish or publish the fruits of my labours. I've tinkered with 3D printing, costume making, and carpentry, but I'll use any medium I can figure out in order to bring something to life. 
	</p>
</div>