	<div class="container">
		<div class="row">
			<h1 class="margin-t-50">Projects</h1>
		</div>
		{{#arr_projects}}
		<div class="project">
			<h3>{{title}} - {{studio}}</h3>
			<p>{{desc}}</p>
			<div class="row">
				<div class="one-half column">
					<a href="{{link}}" target="_blank"><img src="{{preview}}" width="100%"/></a>
				</div>
				<div class="one-half column u-float-right">
					<h5>Highlights</h5>
					<ul>
						{{#arr_highlights}}
						<li>{{.}}</li>
						{{/arr_highlights}}
					</ul>
				</div>
			</div>
		</div>
		{{/arr_projects}}
	</div>