	<div class="container">
		<script>
			window.toggleComponent = function toggleComponent() {
				event.preventDefault();
				var componentName = event.target.dataset.partName;
				var toggleOffTriggered = false;
				var component = document.getElementById(componentName);
				if (component.classList.contains("visible-block")) {
					toggleOffTriggered = true;	
				}

				var allParts = document.getElementsByClassName("part-section");
				for (var idxPart = 0; idxPart < allParts.length; idxPart++) {
					allParts[idxPart].classList.add("hidden");
					allParts[idxPart].classList.remove("visible-block");
				}
				
				var allButtons = document.getElementsByClassName("part-button");
				for (var idxButton = 0; idxButton < allParts.length; idxButton++) {
					allButtons[idxButton].classList.remove("toggle-button-active");
				}

				if (!toggleOffTriggered) { 
					component.classList.add("visible-block");
					component.classList.remove("hidden");
					var button = document.getElementById(componentName + "_button");
					button.classList.add("toggle-button-active");
				}				

				location.hash = "#" + componentName + "_anchor";
			}
		</script>
		<div class="row">
			<div class="columns twelve">
				<h1 class="margin-t-50">Creations</h1>
				<p>Sometimes the creative itch strikes and I make things offline. Some of these side hobbies certainly aren't professional quality, but I had fun making them and wanted to share. Sometimes I even take work in progress pictures on my phone. Please forgive the quality as these are often taken in the middle of a creative mess.</p>
			</div>
		</div>
		{{#arr_creations}}
		<div class="margin-t-50">
		<a name="{{tag}}"></a><h3>{{title}}</h3>
		<div class="row">
			<div class="one-half column">
				<img src="{{finish_pic}}" width="100%"/>
			</div>
			<div class="one-half column u-float-right">
				{{#overview}}
				<p>{{.}}</p>
				{{/overview}}
			</div>
		</div>
		<div class="row margin-t-20">
			{{#arr_parts}}
				<a data-part-name="{{part_id}}" id="{{part_id}}_button" class="button button-mobile-block part-button" onClick="toggleComponent();">{{part_name}}</a>
			{{/arr_parts}}
		</div>
		{{#arr_parts}}
		<a name="{{part_id}}_anchor"></a>
		<div id="{{part_id}}" class="part-section section-highlight hidden">
			<div class="row">
				<h4 class="ten columns">{{part_name}}</h4>
				<div class="two columns text-right">
					<a data-part-name="{{part_id}}" class="button-close" onClick="toggleComponent();" href="#{{part_id}}_anchor">X</a>	
				</div>
			</div>
			{{#arr_steps}}
			<div class="row">
				<div class="four columns">
					<img src="{{step_img}}" class="project-step-image"/>
				</div>
				<div class="eight columns">
					<p>{{step_desc}}</p>
				</div>
			</div>
			{{/arr_steps}}
			<a  data-part-name="{{part_id}}" class="button u-full-width margin-t-20" onClick="toggleComponent();">Close {{part_name}}</a>
		</div>
		{{/arr_parts}}
		</div>
		{{/arr_creations}}
	</div>